:root {
  --main-bg-color: #2e2e2e;
  --primary-color: #524d4d;
  --secondary-color: #777171;
  --text-color: #9c9393;
  --hover-text-color: #bdb8b8;
  --active-icon-color: #2ae7e7;
}

* {
  font-family: 'Roboto Slab', sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}

html {
  font-size: 62.5%;
}

.sidebar {
  position: fixed;
  left: -15vw;
  width: 15vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 1.5rem 1rem;
  background-color: var(--main-bg-color);
}

.hamburger-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 3.5rem;
  height: 3.5rem;
  box-sizing: border-box;
  padding: .5rem;
}

.line {
  position: absolute;
  width: 2.5rem;
  height: 0.3rem;
  background-color: var(--secondary-color);
  transform-origin: left;
  transition: transform .3s, top .3s .3s, opacity .2s;
}

.line-1 {
  top: 1.2rem;
}

.line-2 {
  top: 1.8rem;
}

.line-3 {
  top: 2.4rem;
}

.card {
  display: flex;
}

.change .line-1 {
  top: 2.4rem;
  transform: rotate(-40deg) translateY(.3rem);
  transition: top .3s, transform .3s .3s;
}

.change .line-2 {
  opacity: 0;
}

.change .line-3 {
  top: 1.2rem;
  transform: rotate(40deg) translateY(-.3rem);
  transition: top .3s, transform .3s .3s;
}

.admin-image {
  width: 5rem;
  border-radius: .5rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-inline-start: 1rem;
}

.card-title {
  font-size: 2rem;
  letter-spacing: .1rem;
  margin-inline-end: 3rem;
  color: var(--text-color);
}

.card-subtitle {
  font-size: 1.8rem;
  color: var(--secondary-color);
}

.search-form {
  display: flex;
  align-items: center;
  margin: 2rem 0 1rem 0;
}

.search-input {
  width: 100%;
  height: 4rem;
  font-size: 1.6rem;
  letter-spacing: .1rem;
  padding-inline: 1rem;
  border: none;
  border-radius: .5rem;
  background-color: var(--primary-color);
  color: var(--text-color);
}

.search-button {
  background-color: transparent;
  border: none;
  transform: translateX(-150%);
}

.search-button i {
  font-size: 2rem;
  color: var(--secondary-color);
}

.nav-list {
  margin-block-start: 3rem;
}

.nav-item {
  margin-block: 2rem;
}

.nav-link {
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--text-color);
} 

.nav-link-text {
  flex-grow: 1;
  font-size: 1.8rem;
  padding-inline-start: 1rem;
}

.nav-link i:first-child {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .2rem;
  background-color: var(--primary-color);
  border-radius: .3rem;
  transition: color .2s;
}

.nav-link:hover i:first-child {
  color: var(--active-icon-color);
}

.nav-link i:last-child {
  font-size: 1.6rem;
  margin-inline-end: 2.5rem;
}

.subnav-list {
  width: 90%;
  margin-inline-start: auto;
}

.subnav-item {
  margin-block: .5rem;
}

.subnav-link {
  font-size: 1.5rem;
  color: var(--text-color);
  transition: color .2s;
}

.subnav-link:hover {
  color: var(--hover-text-color);
}

.subnav-link i {
  font-size: 1rem;
  margin-inline-end: .5rem;
  transition: color .2s;
}

.subnav-link:hover i {
  color: var(--active-icon-color);
} 

.bottom-list {
  width: 100%;
  background-color: var(--primary-color);
  position: absolute;
  bottom: 0;
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-around;
  transform: translateX(-1rem);
}

.bottom-link {
  position: relative;
}

.bottom-link i {
  font-size: 1.6rem;
  color: var(--secondary-color);
  transition: color 0.3s;
}

.bottom-link:hover i {
  color: var(--active-icon-color);
}

.bottom-link span {
  font-family: "Roboto Slab", serif;
  font-weight: 600;
  font-size: 1rem;
  color: #fff;
  position: absolute;
  top: -100%;
  right: -50%;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-link:hover i {
  color: var(--active-icon-color);
}

.bottom-item:nth-child(1) span {
  background-color: #cfa012;
}

.bottom-item:nth-child(2) span {
  background-color: #54b154;
}

.bottom-item:nth-child(3) span {
  background-color: #e22727;
}

.main-section {
  position: relative;
  width: 100vw;
  left: 0;
}

.header {
  width: inherit;
  height: 100vh;
  background: linear-gradient(
    rgba(255, 255, 255, .3),
    rgba(255, 255, 255, .5)
  ),
  url(images/bg.png) center no-repeat;
  background-size: cover;
}

.heading {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12rem;
  letter-spacing: 1rem;
  color: #fff;
}


