* {
  font-family: Quicksand, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
}

.header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      rgba(165, 20, 20, 0.3),
      rgba(255, 255, 255, 0.5)
    ),
    url(images/bg.jpg) fixed center no-repeat;
  background-size: cover;
}

.hamburguer-menu {
  position: fixed;
  top: 3rem;
  right: 3rem;
  width: 5.5rem;
  height: 5.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(135, 35%, 56%);
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  z-index: 300;
}

.line {
  width: 3rem;
  height: .2rem;
  margin: .2rem 0;
  background-color: #eee;
  transform-origin: right;
  transition: transform .4s;
  transition: all .4s;
  z-index: 300;
}

.change .hamburguer-menu {
  background-color: #eef0eb;
}

.change .line-1 {
  background-color: hsl(135, 35%, 56%);
  transform: rotate(-40deg) translateY(-5px);
}

.change .line-2 {
  opacity: 0;
}

.change .line-3 {
  background-color: hsl(135, 35%, 56%);
  transform: rotate(40deg) translateY(5px);
}

.bg-cover {
  position: fixed;
  top: 3.5rem;
  right: 3.5rem;
  width: 4.5rem;
  height: 4.5rem;
  background-color: hsla(135, 35%, 56%, 0.8);
  border-radius: 50%;
  transition: transform .4s;
  z-index: 100;
}

.change .bg-cover {
  transform: scale(150);
}

.nav-list {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  opacity: 0;
  visibility: hidden;
  transform: opacity 1s;
  z-index: 200;
}

.change .nav-list {
  opacity: 1;
  visibility: visible;
}

.nav-item {
  margin: 1.5vh 0;
}

.nav-link {
  font-size: 3.2rem;
  font-weight: 600;
  letter-spacing: .2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  transition: letter-spacing .2s;
}

.nav-link:hover {
  letter-spacing: .8rem;
}




