* {
  font-family: Quicksand, sans-serif;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    rgba(255, 255, 255, .4),
    rgba(255, 255, 255, .2)
  ),
  url(images/bg.jpg) center no-repeat;
  background-size: cover;
}

.banner {
  position: absolute;
  top: 35%;
  width: 100%;
}

.banner-text {
  font-size: 7rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .2rem;
  color: #fff;
  text-shadow: 0 .2rem .5rem #888;
}

.nav-list {
  display: flex;
  justify-content: center;
}

.nav-item {
  width: 26vw;
  text-align: center;
  margin-block-start: 2rem;
}

.nav-link {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #245f9b;
  text-shadow: 0 .2rem .5rem #b8b8b8;
}

.dropdown {
  position: relative;
  height: 0;
  margin-block-start: 1rem;
  opacity: 0;
  visibility: hidden;
  transform: translateX(10%);
  transition: opacity .4s, visibility .4s;
  z-index: 100;
}

.nav-item:hover .dropdown {
  height: auto;
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  transition: all .1s .2s;
}

.dropdown-item {
  text-align: left;
  padding: 2rem 2rem 0 2rem;
}

.dropdown-item:last-child {
  padding-block-end: 2rem;
}

.dropdown-link {
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #245f9b;
}

.dropdown p {
  font-size: 1.6rem;
  color: #5f6061;
}

.dropdown-bg {
  position: absolute;
  background-color: rgba(243, 243, 243, .93);
  border-radius: .3rem;
  box-shadow: 0 .5rem 1rem #757575;
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s, visibility .4s, height .4s, width .4s;
}

.dropdown-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 1rem solid rgba(243, 243, 243, .93);
  transform: translate(-50%, -100%);
}